# MH Timer Bot
node_modules
settings.json
/project.geany
timer_settings.json.bak
MHTimer.log*
MHTimer.pid
.test_timers.json
.timers.json
reminders.json
.reminders.json
hunters.json


# General-purpose ignores
client_secret_*
[Tt]humbs.db
*.DS_Store

*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elase*/
Ankh.NoLoad

_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

[Bb]uild/

.svn
~$*
/.vs
.vs
.vscode
